[submodule "jdautils"]
	path = jdautils
	url = https://github.com/jaimss/jdautils
[submodule "mcutils"]
	path = mcutils
	url = https://github.com/Jaimss/mcutils
[submodule "jcore"]
	path = jcore
	url = git@github.com:Jaimss/jcore.git
