[submodule "mcutils"]
	path = mcutils
	url = git@github.com:Jaimss/mcutils.git
[submodule "jcore"]
	path = jcore
	url = git@github.com:Jaimss/jcore.git
[submodule "kda"]
	path = kda
	url = git@github.com:Jaimss/kda.git
[submodule "moducore"]
	path = moducore
	url = git@github.com:Jaimss/moducore.git
[submodule "hololib"]
	path = hololib
	url = git@github.com:Jaimss/hololib.git
